.btn-primary {
    font-family: 'Sora', sans-serif;
    background-color: $purple-300;
    color: $white;
    padding: 1.2rem 3.4rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    transition: transform .3s ease;
    border-radius: 0.8rem;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: $purple-500;
}