/*login*/

@media (max-width: 1234px) {
  body {
    padding: 0 2rem;
  }

  container .form-side {
    padding: 2rem;
  }
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    border-radius: 0;
    max-width: 10rem;

    .cat-image {
      display: none;
    }

    .form-side {
      padding: 0rem;
    }
  }

  .cat-image {
    border-radius: 1rem 1rem 0 0;
  }

  .login-box {
    padding: 1rem;
  }
}