* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-size: 1.6rem;
  border: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sora', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 100%;
}