$green-300: #c9df8c;
$green-500: #AFD252;
$purple-300: #a78bfa;
$purple-500: #7434dd;
$blue-900: #111827;
$gray-300: #ccc;
$gray-500: #6e6969;
$gray-700: #333;

$background: #F0F0F0;

$black: #000;
$white: #fff;